[submodule "libs/FastLED"]
	path = libs/FastLED
	url = https://github.com/FastLED/FastLED.git
	ignore = dirty
[submodule "libs/PacketSerial"]
	path = libs/PacketSerial
	url = https://github.com/bakercp/PacketSerial.git
	ignore = dirty
[submodule "lib/TaskScheduler"]
	path = libs/TaskScheduler
	url = https://github.com/arkhipenko/TaskScheduler.git
	ignore = dirty
