{% extends "base.tmpl" %}

{% block title %}Measures for {{ date }}{% endblock %}

{% block content %}

{% if chart %}
  <div class="date">
    Measures for {{ date }}
  </div>

  <img class="sample" src="{{ chart.get_url }}" />
{% else %}
  <p>No measure for {{ date }}.</p>
{% endif %}

<p><a href="/">Home</a></p>

{% endblock %}
