{% extends "base.tmpl" %}

{% block title %}Sample{% endblock %}

{% block content %}

<table class="props">
  <tr><th>Device</th><td>{{ sample.device.name }}</td></tr>
  <tr><th>Date/Time</th><td>{{ sample.ts }}</td></tr>
  <tr><th>Value</th><td>{{ sample.value }}</td></tr>
</table>

{% endblock %}
